SQLAlchemy==2.0.23
alembic==1.12.1
asyncmy==0.2.8
python-dateutil~=2.8.2
timeago~=1.0.16
termcolor==2.3.0
prettytable==3.9.0
pybeatsaver==0.1.15
pyscoresaber==1.0.10
asyncio~=3.4.3
pyee==11.0.1
twitchio==2.5.0
discord.py==2.3.2
sentry-sdk~=1.35.0