pytest~=6.2.4
pytest-asyncio~=0.15.1
pytest-xdist~=2.4.0
dpytest~=0.5.2
cfscrape~=2.1.1
requests~=2.25.1
SQLAlchemy~=1.4.15
python-dateutil~=2.7.5
python-dotenv~=0.17.0
timeago~=1.0.15
discord.py~=1.7.1
termcolor~=1.1.0
pylint~=2.8.3
prettytable~=2.1.0
alembic~=1.6.5